phase1_whatsapp_handler.json
{
  "name": "Phase 1 — WhatsApp Incoming Handler",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "whatsapp",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-respond",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 140],
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "node-extract",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 380],
      "parameters": {
        "jsCode": "// Extract message from WhatsApp Cloud API webhook payload\nconst body = $input.first().json.body ?? $input.first().json;\nconst entry = body?.entry?.[0];\nconst change = entry?.changes?.[0];\nconst message = change?.value?.messages?.[0];\nconst contact = change?.value?.contacts?.[0];\n\n// Skip non-text messages and status updates\nif (!message || message.type !== 'text') {\n  return [{ json: { skip: true } }];\n}\n\nconst phone = message.from;\nconst name = contact?.profile?.name ?? 'Customer';\nconst text = (message.text?.body ?? '').trim();\nconst timestamp = new Date(parseInt(message.timestamp) * 1000).toISOString();\n\nreturn [{ json: { phone, name, text, timestamp, skip: false } }];\n"
      }
    },
    {
      "id": "node-skip-check",
      "name": "Skip Non-Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 380],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "node-upsert-customer",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extract Message Data').item.json.phone }}\",\n  \"name\": \"{{ $('Extract Message Data').item.json.name }}\",\n  \"last_contact\": \"{{ $('Extract Message Data').item.json.timestamp }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-get-history",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1140, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "customer_id", "value": "=eq.{{ $json[0].id }}" },
            { "name": "order", "value": "timestamp.desc" },
            { "name": "limit", "value": "5" },
            { "name": "select", "value": "direction,message,intent,timestamp" }
          ]
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-ai-detect",
      "name": "AI Intent Detection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1380, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.4,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a friendly, warm restaurant assistant for Tilapiya Restaurant in Sri Lanka. Currency is LKR.\\n\\nRestaurant info:\\n- Open: Tuesday-Sunday, 11:30 AM - 10:30 PM. Closed Mondays.\\n- Location: Colombo 7, Sri Lanka\\n- Cuisine: Modern Sri Lankan, seafood specialties\\n- Parking: Free valet parking available\\n- Special diets: Vegetarian, vegan, gluten-free options available\\n\\nYour job:\\n1. Detect the customer intent from their message.\\n2. For BOOKING: extract date, time, party_size, occasion, dietary_notes if mentioned.\\n3. For INQUIRY: answer from the restaurant info above.\\n4. For COMPLAINT: be empathetic, apologize, assure follow-up.\\n5. For CANCEL: confirm which booking to cancel.\\n6. For OTHER: be helpful and friendly.\\n\\nAlways reply in a warm, professional tone. Keep replies concise (under 200 words). Use emoji sparingly.\\n\\nReturn ONLY valid JSON:\\n{\\n  \\\"intent\\\": \\\"BOOKING\\\" | \\\"INQUIRY\\\" | \\\"COMPLAINT\\\" | \\\"CANCEL\\\" | \\\"OTHER\\\",\\n  \\\"reply\\\": \\\"your natural language reply to the customer\\\",\\n  \\\"booking_details\\\": {\\n    \\\"date\\\": \\\"YYYY-MM-DD or null\\\",\\n    \\\"time\\\": \\\"HH:MM or null\\\",\\n    \\\"party_size\\\": number or null,\\n    \\\"occasion\\\": \\\"string or null\\\",\\n    \\\"dietary_notes\\\": \\\"string or null\\\"\\n  },\\n  \\\"is_booking_complete\\\": true/false\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer name: {{ $('Extract Message Data').item.json.name }}\\nCustomer message: {{ $('Extract Message Data').item.json.text }}\\n\\nRecent conversation history:\\n{{ JSON.stringify($('Get Conversation History').first().json) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 300],
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst customerData = $('Upsert Customer').first().json;\nconst messageData = $('Extract Message Data').first().json;\n\nlet parsed;\ntry {\n  const content = aiResponse.choices[0].message.content;\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = {\n    intent: 'OTHER',\n    reply: 'Thank you for your message! Let me get back to you shortly.',\n    booking_details: { date: null, time: null, party_size: null, occasion: null, dietary_notes: null },\n    is_booking_complete: false\n  };\n}\n\nreturn [{\n  json: {\n    phone: messageData.phone,\n    name: messageData.name,\n    text: messageData.text,\n    timestamp: messageData.timestamp,\n    customer_id: Array.isArray(customerData) ? customerData[0]?.id : customerData?.id,\n    intent: parsed.intent,\n    reply: parsed.reply,\n    booking_details: parsed.booking_details,\n    is_booking_complete: parsed.is_booking_complete\n  }\n}];\n"
      }
    },
    {
      "id": "node-log-inbound",
      "name": "Log Inbound Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1860, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $json.customer_id }}\",\n  \"direction\": \"inbound\",\n  \"message\": {{ JSON.stringify($json.text) }},\n  \"intent\": \"{{ $json.intent }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-switch-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2100, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "BOOKING",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "BOOKING"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "INQUIRY",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "INQUIRY"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "COMPLAINT",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "COMPLAINT"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "CANCEL",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "CANCEL"
            }
          ],
          "fallbackOutput": "extra"
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "node-booking-check",
      "name": "Booking Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2380, 100],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-booking-complete",
              "leftValue": "={{ $json.is_booking_complete }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "node-create-booking",
      "name": "Create Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2640, 40],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $('Parse AI Response').item.json.customer_id }}\",\n  \"date\": \"{{ $('Parse AI Response').item.json.booking_details.date }}\",\n  \"time\": \"{{ $('Parse AI Response').item.json.booking_details.time }}\",\n  \"party_size\": {{ $('Parse AI Response').item.json.booking_details.party_size ?? 'null' }},\n  \"occasion\": {{ $('Parse AI Response').item.json.booking_details.occasion ? '\"' + $('Parse AI Response').item.json.booking_details.occasion + '\"' : 'null' }},\n  \"dietary_notes\": {{ $('Parse AI Response').item.json.booking_details.dietary_notes ? '\"' + $('Parse AI Response').item.json.booking_details.dietary_notes + '\"' : 'null' }},\n  \"status\": \"pending\",\n  \"payment_status\": \"unpaid\",\n  \"sequence_stage\": \"none\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-send-wa-booking",
      "name": "Send Reply (Booking)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2900, 100],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parse AI Response').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }}\n  }\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-log-outbound-booking",
      "name": "Log Outbound (Booking)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3140, 100],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $('Parse AI Response').item.json.customer_id }}\",\n  \"direction\": \"outbound\",\n  \"message\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }},\n  \"intent\": \"{{ $('Parse AI Response').item.json.intent }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-send-wa-inquiry",
      "name": "Send Reply (Inquiry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2380, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parse AI Response').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }}\n  }\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-log-outbound-inquiry",
      "name": "Log Outbound (Inquiry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2640, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $('Parse AI Response').item.json.customer_id }}\",\n  \"direction\": \"outbound\",\n  \"message\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }},\n  \"intent\": \"INQUIRY\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-complaint-flag",
      "name": "Flag Complaint Priority",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 480],
      "parameters": {
        "jsCode": "// Flag complaint for dashboard — add high priority note to customer\nconst data = $('Parse AI Response').first().json;\nreturn [{\n  json: {\n    ...data,\n    priority: 'high',\n    flagged_at: new Date().toISOString()\n  }\n}];\n"
      }
    },
    {
      "id": "node-update-customer-complaint",
      "name": "Update Customer Notes (Complaint)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2640, 480],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Parse AI Response').item.json.customer_id }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notes\": \"COMPLAINT [{{ new Date().toISOString().slice(0,10) }}]: {{ $('Parse AI Response').item.json.text }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-send-wa-complaint",
      "name": "Send Reply (Complaint)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2900, 480],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parse AI Response').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }}\n  }\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-log-outbound-complaint",
      "name": "Log Outbound (Complaint)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3140, 480],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $('Parse AI Response').item.json.customer_id }}\",\n  \"direction\": \"outbound\",\n  \"message\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }},\n  \"intent\": \"COMPLAINT\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-send-wa-cancel",
      "name": "Send Reply (Cancel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2380, 660],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parse AI Response').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }}\n  }\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-log-outbound-cancel",
      "name": "Log Outbound (Cancel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2640, 660],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $('Parse AI Response').item.json.customer_id }}\",\n  \"direction\": \"outbound\",\n  \"message\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }},\n  \"intent\": \"CANCEL\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-send-wa-other",
      "name": "Send Reply (Other)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2380, 840],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.META_WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parse AI Response').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }}\n  }\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-log-outbound-other",
      "name": "Log Outbound (Other)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2640, 840],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $('Parse AI Response').item.json.customer_id }}\",\n  \"direction\": \"outbound\",\n  \"message\": {{ JSON.stringify($('Parse AI Response').item.json.reply) }},\n  \"intent\": \"OTHER\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          { "node": "Respond 200 OK", "type": "main", "index": 0 },
          { "node": "Extract Message Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          { "node": "Skip Non-Text?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Skip Non-Text?": {
      "main": [
        [
          { "node": "Upsert Customer", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Upsert Customer": {
      "main": [
        [
          { "node": "Get Conversation History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          { "node": "AI Intent Detection", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI Intent Detection": {
      "main": [
        [
          { "node": "Parse AI Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          { "node": "Log Inbound Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Inbound Message": {
      "main": [
        [
          { "node": "Route by Intent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          { "node": "Booking Complete?", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Reply (Inquiry)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Flag Complaint Priority", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Reply (Cancel)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Reply (Other)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Booking Complete?": {
      "main": [
        [
          { "node": "Create Booking", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Reply (Booking)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Booking": {
      "main": [
        [
          { "node": "Send Reply (Booking)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Reply (Booking)": {
      "main": [
        [
          { "node": "Log Outbound (Booking)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Reply (Inquiry)": {
      "main": [
        [
          { "node": "Log Outbound (Inquiry)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Flag Complaint Priority": {
      "main": [
        [
          { "node": "Update Customer Notes (Complaint)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Customer Notes (Complaint)": {
      "main": [
        [
          { "node": "Send Reply (Complaint)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Reply (Complaint)": {
      "main": [
        [
          { "node": "Log Outbound (Complaint)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Reply (Cancel)": {
      "main": [
        [
          { "node": "Log Outbound (Cancel)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Reply (Other)": {
      "main": [
        [
          { "node": "Log Outbound (Other)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-24T00:00:00.000Z",
  "versionId": "1"
}
